{% extends 'base.html' %}

{% block content %}
    <h3>{{ current_procedure }}</h3>
    <form method="post">
        <div class="form-group mb-3">
            <label for="content" class="form-label">Message</label>
            <textarea class="form-control" name="content" placeholder="">{{ request.form['content'] }}</textarea>
        </div>
        <div class="form-group mb-3">
            <label for="key" class="form-label">Key</label>
            <textarea class="form-control" name="key"
                      placeholder="{{ default_key_value }}">{{ request.form['key'] }}</textarea>
        </div>
        <div>
            <br>
            <button type="submit" class="btn btn-info">Submit</button>
        </div>
    </form>
{% endblock %}